<a href="https://colab.research.google.com/github/HUFS-Programming-2022/Junsu_202102707/blob/main/week_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dictionary
- 영어 사전
  - 단어: 뜻
  - 키: 값
  - 순서가 없다 => 인덱싱 불가능
  - 키로 값을 찾음
    - 키: 중복되지 않는 고유한 값
  - 가변: 수정, 삭제, 추가 가능
  - 타입: dict
  - 형변환: dict()
  - 중괄호 사용 {}, 콤마로 구분함
  - 값에 다양한 자료구조가 올 수 있음

In [11]:
empty = dict()
empty = {}
#set도 {}를 쓰지만 {}만 쓰면 dict임
empty = set() #이렇게 써야 set
type(empty)

set

In [12]:
a = {1, 2, 3} #set
a = {1:'apple', 2:'banana', 3:'kiwi'} #dict
a

{1: 'apple', 2: 'banana', 3: 'kiwi'}

In [13]:
b = dict(apple='a', banana='b', kiwi='c') #여기에선 key에 따옴표 안해도 됨
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

In [14]:
#출석부로 딕셔너리 만들기
#이름, 학번, 학과

#{'james':[202201, '경제학과'], 'laura':[202203, '스페인어과'], 'louis':[202202, '컴공과']}
#key는 중복되면 안되므로 학번이 key가 되어야 함!
{202201:['james', '경제학과'], 202203:['laura', '스페인어과'], 202202:['louis', '컴공과']}

{202201: ['james', '경제학과'],
 202202: ['louis', '컴공과'],
 202203: ['laura', '스페인어과']}

### 형 변환

In [15]:
ex1 = [[1, 2], [2, 3], [3, 4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [16]:
ex2 = [(1, 2), (2, 3), (1, 3)]
dict(ex2)

{1: 3, 2: 3}

In [17]:
ex3 = ['ab', 'bc', 'cd']
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

In [18]:
ex3 = ['abb', 'bcc', 'cdd']
dict(ex3)

ValueError: ignored

### 항목 조회 & 변경

In [19]:
pythons = {#성: 이름
           'Chapman': 'Graham',
           'Cleese': 'Jhon',
           'Idle': 'James',
           'Jones': 'Terry',
           'Palin': 'Michael'}

In [20]:
#예외 피하는 법 1
'Hwa' in pythons

False

In [21]:
#예외 피하는 법 2
#get()
pythons.get('Lee', 0) #없는 키는 None 반환

0

### 전체 조회
- keys()
- values()
- items()

In [22]:
pythons.keys()

dict_keys(['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin'])

In [23]:
list(pythons.keys())

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin']

In [24]:
pythons.values()

dict_values(['Graham', 'Jhon', 'James', 'Terry', 'Michael'])

In [25]:
pythons.items() #(키, 값) 튜플 형태로 => 순회 많이 씀

dict_items([('Chapman', 'Graham'), ('Cleese', 'Jhon'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'Michael')])

In [26]:
for k, v in pythons.items():
  print(f'{k} = {v}')

Chapman = Graham
Cleese = Jhon
Idle = James
Jones = Terry
Palin = Michael

In [27]:
[(k, v) for k, v in pythons.items()]

[('Chapman', 'Graham'),
 ('Cleese', 'Jhon'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael')]

In [28]:
[k[0] for k in pythons.items()]

#0=key, 1=value

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin']

In [29]:
[k for k in pythons] #keys 아무것도 없으면 키 값만 나옴

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin']

In [30]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

num_leg = {}
for i in range(len(animal)):
  num_leg[animal[i]] = legs[i]

print(num_leg)

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

Q. pythons에서 성:이름, 성 첫글자만, 이름은 글자 개수로 이루어진 튜플(성, 이름) 리스트로 반환하기

In [31]:
#1
[(k[0], len(v)) for k, v in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7)]

In [32]:
#2
[(k[0][0], len(k[1])) for k in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7)]

### 값 수정, 삭제, 복제, 비교

In [33]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'Jhon',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [34]:
others = {
    'Marx':'Groucho',
    'Howard':'Moe'
}

others

{'Howard': 'Moe', 'Marx': 'Groucho'}

In [35]:
pythons.update(others)

In [36]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'Jhon',
 'Howard': 'Moe',
 'Idle': 'James',
 'Jones': 'Terry',
 'Marx': 'Groucho',
 'Palin': 'Michael'}

In [37]:
#python 3
{**others, **pythons}

{'Chapman': 'Graham',
 'Cleese': 'Jhon',
 'Howard': 'Moe',
 'Idle': 'James',
 'Jones': 'Terry',
 'Marx': 'Groucho',
 'Palin': 'Michael'}

In [38]:
#삭제
del pythons['Howard']

pythons

{'Chapman': 'Graham',
 'Cleese': 'Jhon',
 'Idle': 'James',
 'Jones': 'Terry',
 'Marx': 'Groucho',
 'Palin': 'Michael'}

In [39]:
del pythons['Lee']    #없는 값 삭제하면 error

KeyError: ignored

In [40]:
pythons.pop('Marx')

'Groucho'

In [41]:
pythons.pop('Lee', 0)  #없으면 예외는 나지만, 예외 시 출력 값을 지정할 수 있다.

0

In [42]:
#전체 삭제
pythons.clear()  #1
pythons = {}    #2

pythons

{}

### 복제
- 할당: b = a
- 얕은 복사: c = a.copy()
- 깊은 복사: deepcopy

In [43]:
a = {1:1, 2:2, 3:3}
b = a
a[1] = 45
a, b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [44]:
c = a.copy()
a[2] = 22
a, c

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 2, 3: 3})

In [45]:
a = {1: [1, 2, 3], 2: [2, 3, 4]}
d = a.copy()
a[1][0] = 100
a, d

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [46]:
import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

### 비교
- '같다', '다르다'만 된다.

In [47]:
a != b

True

### EX
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성=pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기
4. sorted 이용해서 값 정렬하기  i)key ii)value

In [48]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

system = {}
for k, v in zip(solar_kor, solar_eng):
  system[k] = v

print(system)

system['명왕성'] = 'pluto'

system_1 = dict([(k, v) for k, v in system.items() if k.endswith('성')])
print(system_1)

{'태양': 'sun', '수성': 'mercury', '금성': 'venus', '지구': 'earth', '화성': 'mars', '목성': 'jupiter', '토성': 'saturn', '천왕성': 'uranus', '해왕성': 'neptune'}
{'수성': 'mercury', '금성': 'venus', '화성': 'mars', '목성': 'jupiter', '토성': 'saturn', '천왕성': 'uranus', '해왕성': 'neptune', '명왕성': 'pluto'}

In [49]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

solar_dict = {solar:solar_eng[solar_kor.index(solar)] for solar in solar_kor}

solar_dict['명왕성'] = 'pluto'

solar_keys = [solar for solar in solar_dict.keys()]

print(solar_dict)
'''
solar_dict = {}
for i in range(len(solar_kor)):
  solar_dict[solar_kor[i]] = solar_eng[i]

solar_dict['명왕성'] = 'pluto'

print(solar_dict)

for solar in solar_dict.keys():
  if not solar.endswith('성'):
    del solar_dict[solar]

print(solar_dict)
'''

{'태양': 'sun', '수성': 'mercury', '금성': 'venus', '지구': 'earth', '화성': 'mars', '목성': 'jupiter', '토성': 'saturn', '천왕성': 'uranus', '해왕성': 'neptune', '명왕성': 'pluto'}

"\nsolar_dict = {}\nfor i in range(len(solar_kor)):\n  solar_dict[solar_kor[i]] = solar_eng[i]\n\nsolar_dict['명왕성'] = 'pluto'\n\nprint(solar_dict)\n\nfor solar in solar_dict.keys():\n  if not solar.endswith('성'):\n    del solar_dict[solar]\n\nprint(solar_dict)\n"

### 딕셔너리 컴프리핸션

In [50]:
letter = 'apple'
# a: 1, p: 2, ...
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'e': 1, 'l': 1, 'p': 2}

In [51]:
#단어의 모음세기
vowels = 'aeiou'
word = 'onomatopoeia'

vowel_dict = {vowel: word.count(vowel) for vowel in vowels}
print(vowel_dict)

#word 순회
#vowels 순회

{'a': 2, 'e': 1, 'i': 1, 'o': 4, 'u': 0}

In [58]:
{v: word.count(v) for v in vowels if v in word}

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

In [61]:
{w: word.count(w) for w in word if w in vowels}

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

### sorting

In [62]:
def fx(x):
  return x[1]

In [63]:
sorted(system.items(), key=fx) #

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [64]:
sorted(system.items(), key=lambda x: x[1])

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

### Set
- "중복이 없다"
- 집합 => 교집합, 합집합, 차집합, ...
- bag, 인덱싱도 없다.

In [65]:
empty = set()
empty

set()

In [66]:
a = {1, 2, 3}
a

{1, 2, 3}

In [67]:
a = set([1, 2, 3])   #선언, 형 변환
a

{1, 2, 3}

In [68]:
# 추가
a.add(4)
a

{1, 2, 3, 4}

In [69]:
# 삭제
a.remove(4)
a

{1, 2, 3}

In [70]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'manhattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}

# vodka가 포함된 술 출력하기
# vodka는 있지만 cream, vermouth 없는 술 출력하기

drink_vodka = [drink for drink in drinks if 'vodka' in drinks[drink]]
drink_vodka2 = [drink for drink in drinks if 'vodka' in drinks[drink] and 'cream' not in drinks[drink] and 'vermouth' not in drinks[drink]]
print(drink_vodka)
print(drink_vodka2)

['martini', 'black russian', 'white russian', 'screwdriver']
['black russian', 'screwdriver']

### 교집합(intersection), 합집합(union), 차집합(difference)

In [71]:
a = {1, 2, 3}
b = {2, 3, 4}
#교집합
a.intersection(b)
a & b
#합집합
a.union(b)
a | b
#차집합
a.difference(b)
a - b, b - a

({1}, {4})

In [72]:
for k, v in drinks.items():
  if 'vodka' in v and not('cream' in v or 'vermouth' in v):
    print(k)

black russian
screwdriver

In [73]:
set1 = ('cream', 'vermouth')
for k, v in drinks.items():
  if 'vodka' in v and not(v.intersection(set1)):
    print(k)

black russian
screwdriver

In [74]:
for k, v in drinks.items():
  if v & {'vodka'} and not v & {'cream', 'vermouth'}:
    print(k)

black russian
screwdriver

In [75]:
{s for s in range(5)}  #set comprehension

{0, 1, 2, 3, 4}

In [76]:
#frozenset
set([1, 2])
frozenset([1, 2])

frozenset({1, 2})

### Project
- 테스크 해결
- 수업 30분 랜덤 코드 설명 => 
- 제출: 수요일 자정

In [77]:
!pip install pylint
!pylint example.py

!pip install pydocstyle
!pydocstyle example.py

Collecting pylint
  Downloading pylint-2.13.8-py3-none-any.whl (438 kB)
     |████████████████████████████████| 438 kB 5.0 MB/s
Requirement already satisfied: dill>=0.2 in /usr/local/lib/python3.7/dist-packages (from pylint) (0.3.4)
Collecting platformdirs>=2.2.0
  Downloading platformdirs-2.5.2-py3-none-any.whl (14 kB)
Collecting mccabe<0.8,>=0.6
  Downloading mccabe-0.7.0-py2.py3-none-any.whl (7.3 kB)
Requirement already satisfied: typing-extensions>=3.10.0 in /usr/local/lib/python3.7/dist-packages (from pylint) (4.2.0)
Requirement already satisfied: tomli>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from pylint) (2.0.1)
Collecting isort<6,>=4.2.5
  Downloading isort-5.10.1-py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 55.3 MB/s
Collecting astroid<=2.12.0-dev0,>=2.11.3
  Downloading astroid-2.11.4-py3-none-any.whl (250 kB)
     |████████████████████████████████| 250 kB 53.7 MB/s
Requirement already satisfied: setuptools>=20.0 in /usr/local/lib/python3.7/dist-packages (from astroid<=2.12.0-dev0,>=2.11.3->pylint) (57.4.0)
Collecting typed-ast<2.0,>=1.4.0
  Downloading typed_ast-1.5.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (843 kB)
     |████████████████████████████████| 843 kB 49.2 MB/s
Collecting lazy-object-proxy>=1.4.0
  Downloading lazy_object_proxy-1.7.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (57 kB)
     |████████████████████████████████| 57 kB 5.9 MB/s
Requirement already satisfied: wrapt<2,>=1.11 in /usr/local/lib/python3.7/dist-packages (from astroid<=2.12.0-dev0,>=2.11.3->pylint) (1.14.0)
Installing collected packages: typed-ast, lazy-object-proxy, platformdirs, mccabe, isort, astroid, pylint
Successfully installed astroid-2.11.4 isort-5.10.1 lazy-object-proxy-1.7.1 mccabe-0.7.0 platformdirs-2.5.2 pylint-2.13.8 typed-ast-1.5.3
************* Module example.py
example.py:1:0: F0001: No module named example.py (fatal)
Collecting pydocstyle
  Downloading pydocstyle-6.1.1-py3-none-any.whl (37 kB)
Requirement already satisfied: snowballstemmer in /usr/local/lib/python3.7/dist-packages (from pydocstyle) (2.2.0)
Installing collected packages: pydocstyle
Successfully installed pydocstyle-6.1.1
WARNING: Error in file example.py: [Errno 2] No such file or directory: 'example.py'