<a href="https://colab.research.google.com/github/HUFS-Programming-2022/Junsu_202102707/blob/main/week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ch02 Variable
### 변수의 종류
- string
- integer
- float
- boolean

## 할당하기

In [ ]:
#여러 이름을 동시에 할당
two = deux = dos = 2    #순서: dos -> deux -> two
two, deux, dos

(2, 2, 2)

In [ ]:
two = 4
two, deux, dos  #integer는 불변객체이기 때문

(4, 2, 2)

In [ ]:
id(two), id(deux), id(dos)    #two가 2->4가 되면서 저장공간의 주소도 달라짐

(94522568501856, 94522568501792, 94522568501792)

In [ ]:
#리스트는 가변객체임
p = [1, 2, 3]
q = p
p, q, id(p), id(q)

([1, 2, 3], [1, 2, 3], 139920478649952, 139920478649952)

In [ ]:
p[0] = 4
p, q, id(p), id(q)    #q를 바꾸지 않았는데 동시에 바뀜, 저장공간의 주소도 그대로

([4, 2, 3], [4, 2, 3], 139920478649952, 139920478649952)

## 좋은 변수명
- 간결, 명확하고 의미가 담겨야 함 (a, b, c: X)
- 코드에는 의미가 담기고 주석에는 의도가 담긴다.
- 카멜표기법: numStudent

##자료형 변환, 형 변환
- str(변환할 값), int(), float(), bool()

In [ ]:
a = 10
str(a), float(a), bool(a)     #a: integer -> string, float, boolean

#bool은 어떤 값이 False로 바뀌는지

('10', 10.0, True)

#### 주의할 점 1
float -> int: 소수점 뒤가 없어짐

In [ ]:
x = 10.7
y = 10.3
print(int(x) + int(y))
print(int(x + y))   #둘의 계산 값이 달라짐

20
21

####주의할 점 2
str -> int/float

In [ ]:
i = '10'
print(int(i), float(i))   #문제 X

10 10.0

In [ ]:
j = '12.3'
int(j)    #float이라고 바뀌어야 하는 str을 int로 바꾸면 error

ValueError: ignored

##### 꿀팁 1

In [ ]:
dog = 'dog'
cat = 'cat'
lion = 'lion'
print(dog + cat + lion)   #space X, \n
print(dog, cat, lion)   #space O, \n
print(dog, cat, lion, sep=',', end='\n')    #이게 default값
print(dog, cat, lion, sep='/', end='\n\n')
print(dog)

dogcatlion
dog cat lion
dog,cat,lion
dog/cat/lion

dog

#####꿀팁 2

In [ ]:
#2
print('my favorite animal is', dog, '.')
print(f'my favorite animal is {dog}.')    #얘가 더 좋음

my favorite animal is dog .
my favorite animal is dog.

#####꿀팁 3

In [ ]:
#코드 줄이 짧을 때 ;를 사용해 한 줄로 쓸 수 있다.
dog = 'dog'; cat = 'cat'; lion = 'lion'
print(dog)

dog

###input() 함수
- console에서 사용자가 입력하는 값을 받을 수 있는 함수
- 입력받는 값은 문자열로 인식이 된다.
- 입력받은 값을 변수에 담아서 사용한다. 안 그러면 사라짐
- 숫자일 경우 형 변환 필요

In [ ]:
input('나이는?')

나이는?21

'21'

In [ ]:
int(input('나이는?'))

나이는?21

21

- 변수에 할당하는 방법

In [ ]:
#1
age = input('나이는?')
print(age)

나이는?21
21

In [ ]:
#2
print('나이는?')
age = input()
print(age)

나이는?
21
21

In [ ]:
#Quiz1
tempC = float(input('섭씨 몇 도?'))
tempF = tempC * 1.8 + 32
print(f"화씨 {tempF}도 입니다.")

섭씨 몇 도?12.5
화씨 54.5도 입니다.

In [ ]:
#Quiz2
name = input('이름을 입력하세요: ')
address = input('주소를 입력하세요: ')
weight = float(input('제품의 무게를 입력하세요: '))
price = weight * 5
delivery = 3000
total_price = price + delivery
print('')
print('===택배 정보===', f'수취인 성명: {name}',f'수취인 주소: {address}', f'배송비: {delivery}원', f'물건 비용: {price}원', f'총 합계: {total_price}원',sep='\n')

이름을 입력하세요: 이준수
주소를 입력하세요: 서울
제품의 무게를 입력하세요: 40

===택배 정보===
수취인 성명: 이준수
수취인 주소: 서울
배송비: 3000원
물건 비용: 200.0원
총 합계: 3200.0원

#Ch03 Numbers

###boolean
- 형 변환할 때 True, False인지 기억
- 조건식에서 많이 사용 ex) 만약 이 조건이 True라면...

In [ ]:
bool(1), bool('')

(True, False)

###integer
- 소수점 없음
- default 양수, 음수 앞에는 -를 붙인다
- 숫자 앞에는 0을 붙일 수 없다 ex)05
  - 예외적으로 0bxxx: 다른 진수 표현법
- 리터럴: 4
- 중간에 공백이 많아도 무시
- 10,000 -> 10, 000 두 개로 인식 => _사용
  - 예: 10_000

In [ ]:
a = 09

SyntaxError: ignored

In [ ]:
4                     +  7

11

####연산
- 연산자|operator: +,-
- 피연산자|operand: 1,2
- 수식|expression

- x + y: 더하기
- x - y: 빼기
- x * y: 곱하기
- x ** y: 제곱
- x / y: 나누기
- x // y: 몫
- x % y: 나머지

#### 나눗셈에서 주의할 사항
- division by zero => 주의 (y!=0)
- 몫, 나머지

In [ ]:
x = 8; y = 3
divmod(x, y)    #몫과 나머지만 나옴

(2, 2)

#### 복합대입연산자|compound assignment operator

In [ ]:
a = a - 3
#1. a - 3 계산
#2. 임시변수 temp = a - 3
#3. a = a - 3

a -= 3

In [ ]:
u = u + 1   #u는 초기화가 안 됐기 때문에

NameError: ignored

In [ ]:
#Quiz1
num = int(input('정수를 입력하세요: '))
multiple = num % 3
odd = num % 2
print(multiple == 0, odd == 1)
print('첫번째에 True가 나오면 3의 배수고, False가 나오면 3의 배수가 아닙니다. 두번째에 True가 나오면 홀수고, False가 나오면 짝수입니다.')

정수를 입력하세요: 5
False True
첫번째에 True가 나오면 3의 배수고, False가 나오면 3의 배수가 아닙니다. 두번째에 True가 나오면 홀수고, False가 나오면 짝수입니다.

#### 지수표현
- e, E 둘 다 가능
- 앞부분은 float, int 가능
- 뒷부분은 int만 가능
  - 양수면 0 앞으로
  - 음수면 0 뒤로

In [ ]:
1.2e6, 1.2e-2  #float

(1200000.0, 0.012)

## 조건문, if
- code structure

### 코드 짜는 룰
- 주석 다는 법
  - 설명하는 부분
  - 목적: 의도를 표현한다
  - '#'가 시작되는 부분부터 그 라인의 끝까지가 주석
  - 문자열 안에 있는 #는 문자열로 인식됨
  - """<주석>""" (긴 주석을 달 때)

- 라인 유지하기
  - 들여쓰기, 공백 4개, 탭 1개
  - 한 줄에 최대 80자 넘지 않게
  - 80자 넘으면 백슬래시로 끊어준다(|)

- 조건 1개
if<조건식>:
  <실행할 코드>

- 조건 2개
if<조건식>:
  <실행할 코드>
else:
  <실행할 코드2>

- 조건 여러개
if<조건식>:
  <실행할 코드>
elif<조건식2>:
  <실행할 코드2>
else:
  <실행할 코드3>

- if, elif, else가 같은 라인이고, 코드들 들여쓰기가 중요함

### 비교 연산자
- x > y, x >= y
- x < y, x <= y
- x == y (값)
- x != y (값)
- x is y (값, 메모리 주소)
- x is not y

In [ ]:
#Quiz1
score = float(input('학점을 입력하세요: '))
if score >= 90:
  grade = 'A'
elif score >= 80:
  grade = 'B'
elif score >= 70:
  grade = 'C'
else:
  grade = 'D'
print(f'학점 {score}는 {grade}입니다.')

학점을 입력하세요: 90
학점 90.0는 A입니다.

In [ ]:
#Quiz2
my_id = '이준수'
my_password = '멋쟁이'
id_1 = input('ID를 입력하세요: ')
password = input('비밀번호를 입력하세요: ')
if my_id == id_1 and my_password == password:
  print('나도 알아 ^^')
elif my_id != id_1:
  print('ID가 틀렸어!\n힌트: 내 이름!')
else:
  print('비밀번호가 틀렸어!\n힌트: 이준수는 OOO다.')

ID를 입력하세요: 이준수
비밀번호를 입력하세요: 멋쟁이
나도 알아 ^^

### 논리 연산자
- 여러 조건식을 비교할 때
  - ex) 10 < x < 20
    - 파이썬에서만 가능한 표현
- and, &: 둘 다 참일 때 True
- or, |: 둘 중 하나만 참이여도 True
- not: 참 -> False, 거짓 -> True

In [ ]:
#Quiz3
score = float(input('학점을 입력하세요: '))
absence = int(input('결석 횟수를 입력하세요: '))
if score >= 80:
  if absence >= 2:
    grade = 'F'
  else:
    if score >= 90:
      grade = 'A'
    else:
      grade = 'B'
elif score >= 70:
  grade = 'C'
else:
  grade = 'D'
print(f'{score}점, 결석 {absence}회로 {grade}입니다.')

학점을 입력하세요: 91
결석 횟수를 입력하세요: 3
91.0점, 결석 3회로 F입니다.