<a href="https://colab.research.google.com/github/HUFS-Programming-2022/Junsu_202102707/blob/main/week_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Store, Item, Customer
- 서로 상호작용을 하지만, 상속할 것은 아님
-1. AbCustomer -> Customer(상속)
-2. Person <- Customer(Person)

In [ ]:
class Customer(Person): #is-a
  pass

class Store:
  def __init__(customer):
    self.customer = customer #Customer타입  #has-a
    self.item = item #
    self.item_list = self.item.name, self.item.price
  
class Item:
  name
  cnt
  price

  pass
  class Seller: #임직원 할인...

SyntaxError: ignored

### 매직메소드
- special method
- __<name>__
- str, repr

In [ ]:
class Customer:
  def __init__(self, name):
    self.name = name

c = Customer('kim')

In [ ]:
c

In [ ]:
print(c)

<__main__.Customer object at 0x7f0eb5801fd0>

In [ ]:
class Customer(object):
  def __init__(self, name):
    self.name = name

  def __str__(self):
    #print() 함수로 나온 출력값을 변경하는 것
    return self.name

  def __repr__(self):
    #설정 안 하면 __str__과 동일함
    #인스턴스를 출력하는 방식 => 사용자가 이해하는 객체의 모습을 표현
    return f'Customer({self.name})'

c = Customer('kim')

In [ ]:
c

Customer(kim)

In [ ]:
print(c)

kim

In [ ]:
str(c)

'kim'

### NamedTuple, DataClass
- 객체보다 효율적임 (간단한 속성만 가진 클래스일 경우 활용)
- 딕셔너리의 키처럼 사용 가능하다
- 불변객체

In [ ]:
from collections import namedtuple

Customer = namedtuple('Customer', 'name age')
a = Customer('lee', 44)
a.name, a.age

('lee', 44)

In [ ]:
from dataclasses import dataclass
from dataclasses import dataclass
# 파이썬 3.7 이상에서만

@dataclass
class Customer2:
  name: str
  age: int

b = Customer2('hong', 88)
b.name, b.age

('hong', 88)

### 함수ii
- *, **
-  일급객체
- 내부함수, 클로저
- 익명함수
- 제너레이터
- 재귀함수

asterisk: *

In [ ]:
def print_arg(*args): #여러개의 인자 => 패킹
  print(*args)
  print(args)

print_arg(1, 2, 3, 4, 5)

1 2 3 4 5
(1, 2, 3, 4, 5)

In [ ]:
def print_more(num1, num2, *args):
  print(num1, num2)
  print(*args, 'optional')

print_more(1, 2)

1 2
optional

In [ ]:
empty = list(range(10))
print(*empty)

0 1 2 3 4 5 6 7 8 9

In [ ]:
# 행렬, 테이블 데이터
matrix = [
          [1, 2],
          [3, 4],
          [5, 6]          
]

# 1, 3, 5, 2, 4, 6 (열만 타고 싶다)
for item in zip(*matrix):
  print(item)

(1, 3, 5)
(2, 4, 6)

In [ ]:
for item in zip([1, 2], [3, 4], [5, 6]):
  print(item)

(1, 3, 5)
(2, 4, 6)

In [ ]:
# 키워드 전용 인수 선언 시 사용
def print_data(data, start, end):
  for item in data[start:end]:
    print(item)

print_data(empty, start=0, end=4)
#print_data(empty, 0, 1)

0
1
2
3

In [ ]:
# 키워드 전용 인수 선언 시 사용
def print_data(data, start, end):
  for item in data[start:end]:
    print(item)

#print_data(empty, start=0, end=4)
print_data(empty, 0, 1)

0

###kargs: **

In [ ]:
def print_kargs(**kargs): #키: 값 => 딕셔너리로 반환
  kargs['wine'] = 'crianza' #get()
  print(kargs)
  #print(**kargs)는 안됨
print_kargs(wine='crianza', drink='water')

{'wine': 'crianza', 'drink': 'water'}

In [ ]:
for wine in ['cavernet', 'crianza', 'shiraz']:
  print_kargs(wine=wine, drink='water')

{'wine': 'crianza', 'drink': 'water'}
{'wine': 'crianza', 'drink': 'water'}
{'wine': 'crianza', 'drink': 'water'}

In [ ]:
def print_all(num1, num2, *args, **kargs):
  print(num1, num2)
  print(sum(args))
  print(kargs)

print_all(1, 2, 3, 4, 5, 6, num=4)

1 2
18
{'num': 4}

In [ ]:
#딕셔너리 조인
a = {1:'a', 2: 'b'}
b = {2:'c', 3: 'd'}
c = {**a, **b}